<h1>{{rows.imgName}}</h1>
                <div class='item'>
                    <img class='product_img' src={{rows.imgPath}} alt='img'>
                    <p>{{rows.id}}</p>
                </div>
            </a>
